{% extends "index2.html" %}
{% block title %}Royal Carribean - Retrieve Facilities{% endblock %}

{% block content %}
<h1 class="display-4">Retrieve Facilities</h1>
<!-- DISPLAY COUNT -->
<div>
    {% if count == 0 %}
    <p>There are no facilities.</p>
    {% elif count == 1 %}
    <p>There is 1 facility.</p>
    {% else %}
    <p>There are {{ count }} facilities.</p>
    {% endif %}
</div>

<div class="container-fluid">
    <!-- FIND HOW MANY ROWS USED -->
    {% if facilities_list|length%3 == 0 %}
    {% set row = facilities_list|length//3 %}
    {% else %}
    {% set row = facilities_list|length//3 + 1 %}
    {% endif %}

    <!-- Row -->
    {% for r in range(row) %}
    <div class="row">
        <!-- Card Deck -->
        <div class="col-12 mt-4">
            <div class="card-deck">
                {% set newlist = facilities_list[r*3:] %}

                {% for i in range(3) %}
                    {%- if i+1 > newlist|length -%}
                        <div class="card invisible">
                            <img class="card-img-top img-fluid" src=" " alt=" ">
                            <div class="card-header"> </div>
                            <div class="card-body">
                                <p class="card-text"> </p>
                                <p class="card-text"> </p>
                                <p class="card-text"> </p>
                            </div>
                            <div class="card-footer"> </div>
                         </div>
                    {% else %}
                        <!-- Card -->
                        {% set facility = newlist[i] %}
                        <div class="card">
                            <img class="card-img-top img-fluid" width="220px" height="100px" src="{{ facility.get_img() }}" alt="img of {{ facility.get_name() }}">
                            <div class="card-header">{{ facility.get_name() }}</div>
                            <div class="card-body">
                                <p class="card-text">{{ facility.get_location() }}</p>
                                <p class="card-text">{{ facility.get_quantity() }} / {{ facility.get_max() }}</p>
                                <p class="card-text">{{ facility.get_opentime() }} - {{ facility.get_closetime() }}</p>
                            </div>
                            {% if facility.time_in_range(now) %}
                                <div class="card-footer bg-success text-white"> Open </div>
                            {% else %}
                                <div class="card-footer bg-danger text-white"> Closed </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
